<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
</head>
<body>
<div align="center" class="container">
    <form action="/home/menu" method="get">
        <div class="form-group-lg">
            <button class="btn btn-primary btn-lg" name="category" type="submit" value="PIZZA">Pizza</button>
            <button class="btn btn-primary btn-lg" name="category" type="submit" value="SUSHI">Sushi</button>
            <button class="btn btn-primary btn-lg" name="category" type="submit" value="GYROS">Gyros</button>
            <button class="btn btn-primary btn-lg" name="category" type="submit" value="GARNISH">Garnish</button>
            <button class="btn btn-primary btn-lg" name="category" type="submit" value="VEGETARIAN">Vegetarian</button>
            <button class="btn btn-primary btn-lg" name="category" type="submit" value="DESSERT">Desert</button>
            <button class="btn btn-primary btn-lg" name="category" type="submit" value="DRINK">Drink</button>
        </div>
    </form>
</div>
</body>
</html>
