<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<div class="mx-5">
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${dishList.isEmpty()}">
            <td colspan="2">No user available</td>
        </tr>
        <tr th:each="dish : ${dishList}">
            <td class="w-25"><span th:text="${dish.title}"></span></td>
            <td><span th:text="${dish.price}"></span></td>
            <td><span th:text="${dish.category.toString().toLowerCase()}"></span></td>
            <td><span th:text="${dish.description}"></span></td>
            <td class="row w"><a class="btn btn-link" role="button"
                   th:href="@{'/admin/dish/edit/'+${dish?.id}}">edit</a>
                <form method="post" th:action="@{/admin/dish/delete}">
                    <input hidden name="dishId" th:value="${dish.id}">
                    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                    <button class="btn btn-link" type="submit">delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary ml-5" href="/admin/dish/add">Add dish</a>
</div>
</body>
<footer>
    <div th:insert="footer::copy"></div>

</footer>
</html>