<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
Add new user
<div class="container" style="margin-top: 15%">
    <form action="/registration" method="post">
        <div class="form-group-lg">
            <label for="username">Username</label>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <input class="form-control is-valid" id="username" name="username" required type="text"/>
            <label for="password">Password</label>
            <input class="form-control is is-valid" id="password" name="password" required type="password">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>