<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<div class="container mt-5 w-50">
    <form action="/registration" method="post">
        <div class="form-group-lg">
            <div th:object="${newUser}">
                <label for="username">Username</label>
                <input class="form-control is-valid" id="username" th:field="*{username}" required type="text"/>
                <label for="password">Password</label>
                <input class="form-control is is-valid" id="password" th:field="*{password}" required type="password">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </div>
            <div th:object="${personalInfo}">
                <label for="firstName">First name</label>
                <input class="form-control is-valid" id="firstName" th:field="*{firstName}" required type="text">
                <label for="lastName">Last name</label>
                <input class="form-control is-valid" id="lastName" th:field="*{lastName}" required type="text">
                <label for="phoneNumber">Phone number</label>
                <input class="form-control is-valid" id="phoneNumber" th:field="*{phoneNumber}" required type="tel">
                <label for="email">Email</label>
                <input class="form-control is-valid" id="email" th:field="*{email}" required type="email">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
        </div>
    </form>
</div>
<div th:insert="footer::copy"></div>
</body>
</html>