<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<div>
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.isEmpty()}">
            <td colspan="2">No user available</td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.getUsername()}">Username</span></td>
            <td><span th:text="${user.getRoles()}">Role</span></td>
            <td><span th:text="${user.getPassword()}">Password</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="footer::copy"></div>
</body>
</html>