<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<div>
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userList.isEmpty()}">
            <td colspan="2">No user available</td>
        </tr>
        <tr th:each="user : ${userList}">
            <td><span th:text="${user.getUsername()}">Username</span></td>
            <td><span th:text="${user.getPersonalInfo().firstName}">First name</span></td>
            <td><span th:text="${user.getPersonalInfo().lastName}">Last name</span></td>
            <td><span th:text="${user.getPersonalInfo().phoneNumber}">Phone number</span></td>
            <td><span th:text="${user.getPersonalInfo().email}">Email</span></td>
            <td th:each="role : ${user.roles}" ><p th:text="${role.toString()}"></p></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="footer::copy"></div>
</body>
</html>